

.banner{
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   background-image: url(images/depositphotos_161865730-stock-photo-modern-white-office-desk-top.jpg);
 
    background-size:cover ;
}
.banner .container-fluid h1{
    font-size: 50px;       
    
}

.banner .container-fluid h1{
    font-size: 20px;
    margin: 20px;
    font-weight: bolder;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.banner .container-fluid .btn1{
    
    padding: 10px 20px;
    background: #9c7143;
    display: inline-block;
    letter-spacing: 2px;
    margin-right: 20px;
}

.banner .container-fluid .btn2{
    
    padding: 10px 20px;
    background: #866643;
    display: inline-block;
    letter-spacing: 2px;
    margin-right: 20px;
}

.banner .container-fluid .btn1:hover{
    color: #3d3e41;
    letter-spacing: 5px;
}

.banner .container-fluid .btn2:hover{
    color: #3d3e41;
    letter-spacing: 5px;
}

.container-fluid{
    
    text-align: center;
    max-width: 100%;
}