

.banner{
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   background-image: url(images/WhatsApp\ Image\ 2022-03-16\ at\ 18.25.00.jpeg);
 
    background-size:cover ;
}
.banner .container-fluid h1{
    font-size: 50px;
    
}

.banner .container-fluid p{
    font-size: 20px;
    margin: 20px;
}

.banner .container-fluid .btn1{
    
    padding: 10px 20px;
    background: #9c7143;
    display: inline-block;
    letter-spacing: 2px;
    margin-right: 20px;
}

.banner .container-fluid .btn2{
    
    padding: 10px 20px;
    background: #;
    display: inline-block;
    letter-spacing: 2px;
    margin-right: 20px;
}

.banner .container-fluid .btn1:hover{
    color: #3d3e41;
    letter-spacing: 5px;
}

.banner .container-fluid .btn2:hover{
    color: #3d3e41;
    letter-spacing: 5px;
}

.container-fluid{
    
    text-align: center;
    max-width: 100%;
}